.App {
  text-align: center;
}

#root {
  background-color: #121319;
  color: #c5c6c7;
}

body * {
  /* font-family: "Syne Mono", monospace; */
  font-family: "VT323";
  font-size: 20px;
}

html {
  background-color: #121319;
}

video {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
  width: 30rem;
  max-width: 97%;
}

#page-container {
  position: relative;
  min-height: 100vh;
  display: block;
  overflow: hidden;
  padding-bottom: 20rem;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* BOOTSTRAP BUTTONS */
/* .btn-primary {
  background-color: #4a02e7 !important;
  border-color: #4a02e7 !important;
}

.btn-primary:hover {
  background-color: #3a00b8 !important;
  border-color: #3a00b8 !important;
} */

#submit-button {
  background-color: #4a02e7!important;
  border-color: #4a02e7 !important;
}

#submit-button:hover {
  background-color: #3d00c2 !important;
  border-color: #3d00c2 !important;
}

/* NAVBAR */
#logo {
  width: 10rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#navbar {
  background-color: #1f2833 !important;
}

#navbar a {
  color: #84ceeb;
  border-radius: 2rem;
}

#navbar a.nav-link:hover {
  background-color: #303d4d;
  border-radius: 2rem;
}

#navbar-text {
  margin-right: 2%;
  color: #84ceeb;
}

/* LOGIN & SIGNUP FORM */
form {
  background-color: #ffffff;
  box-shadow: 5px 5px 5px rgba(0.3, 0.3, 0.3, 0.3);
}

#form-container {
  place-items: center;
  margin: 5rem;
  background-color: #121319;
}

#login-form {
  color: #c5c6c7;
  background-color: #1f2833;
  width: 35%;
  min-width: 25rem;
  margin: 2rem;
}

#login-form img {
  width: 60%;
  margin: 1rem;
}

#login {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 160px;
}

#demo-login {
  width: 70%;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #84ceeb;
  cursor: pointer;
}

#demo-login:hover {
  color: magenta;
}

/* ERRORS */
.errors {
  color: red;
}

/* MAIN PAGE */
#game-cards-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 2rem;
  max-width: 120rem;
}

.game-card {
  background-color: #121319 !important;
  text-align: center;
  padding: -2.5rem;
  width: 36rem;
  border-radius: 10rem !important;
  margin: auto;
  text-decoration: none;
  border: none !important;
}

.game-card:hover {
  background-color: #0a0b0f !important;
}

.game-card img {
  border-radius: 10rem;
}

/* PROFILE PAGE */
.profile-page {
  background-color: #273241;
  text-align: center;
  border-radius: 0.1rem;
  height: 100%;
  min-height: 50rem;
  width: 70%;
  max-width: 70rem;
  margin: auto;
  padding-top: 2em;
  margin-top: 3em;
}

.profile-header {
  background-color: #1f2833;
  margin-bottom: 2rem;
  padding: 2rem;
  margin-top: -3rem;
}

#graph-container {
  padding-bottom: 5rem;
}

/* LEADERBOARDS */
.home-leaderboard {
  background-color: #1f2833;
  text-align: center;
  border-radius: 1rem;
  height: 100%;
  width: 50%;
  min-width: 25rem;
  max-width: 70rem;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-top: 3em;
}

/* tab */
.home-leaderboard .nav-link {
  color: #84ceeb;
}

.home-leaderboard .nav-link:hover {
  color: hsl(259, 100%, 74%);
}

/* active tab */
.home-leaderboard .nav-link.active {
  background-color: #4a02e7 !important;
  color: white !important;
}

table {
  background-color: #273241;
  color: #c5c6c7 !important;
}

.table-data:hover {
  background-color: #3b495a;
}

table a {
  color: #84ceeb;
  text-decoration: none;
}

table a:hover {
  color: hsl(259, 100%, 74%);
}

/* GAME PAGE */
.leaderboard {
  background-color: #1f2833;
  text-align: center;
  border-radius: 3rem;
  height: 100%;
  width: 50%;
  min-width: 25rem;
  max-width: 70rem;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-top: 3em;
}

.scoreboard {
  width: 95%;
  margin: auto;
}

#user-score {
  background-color: #35b2e4 !important;
  border-color: #4a02e7;
  border-width: 2px;
  color: #4a02e7;
}

#user-score:hover {
  background-color: #79cdee !important;
}

#user-score a {
  color: #4a02e7;
}

.paginate {
  border-radius: 3rem;
  margin: 0 auto;
}

/* pages */
.paginate a.page-link {
  background-color: #273241 !important;
  border-color: #c5c6c7;
  color: #c5c6c7 !important;
}

.paginate a.page-link:hover {
  background-color: #3b495a !important;
}

/* active page */
.paginate span.page-link {
  background-color: #4a02e7 !important;
  border-color: #c5c6c7 !important;
}

.score {
  inline-size: 20%;
  overflow: hidden;
}

/* FOOTER */
.footer {
  background-color: #1f2833;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  position: absolute;
  bottom: 0;
}

.footer .footer-left,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* FOOTER LEFT */
.footer .footer-left {
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #84ceeb;
  font-size: 18px;
  font-weight: normal;
  margin-top: 10px;
}

.footer .about span {
  display: block;
  color: #84ceeb;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* FOOTER RIGHT */
.footer .footer-right {
  float: right;
  padding-right: 75px;
}

.footer .footer-right i {
  background-color: #84ceeb;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-right p {
  display: inline-block;
  color: #84ceeb;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-right p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .copyright {
  font-weight: normal;
  font-size: 17px;
}

.game-card-name {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 10vw;
  font-weight: 900;
  text-decoration: none;
  color: white;
  display: inline-block;
  background-size: 120% 100%;
  background-clip: text;
  background: linear-gradient(
    120deg,
    hsl(188, 100%, 50%) 10%,
    hsl(187, 100%, 59%) 10%,
    hsl(191, 94%, 54%) 25%,
    hsl(177, 100%, 64%) 25%,
    hsl(186, 100%, 69%) 40%,
    hsl(226, 87%, 64%) 40%,
    hsl(259, 100%, 74%) 55%,
    hsl(177, 100%, 64%) 55%,
    hsl(256, 92%, 85%) 70%,
    hsl(258, 93%, 73%) 70%
      /* hsl(287, 100%, 76%) 85%,
    hsl(296, 99%, 47%) 85%, */
      /* hsl(300, 100%, 85%) 100%,
    hsl(302, 79%, 61%) 100% */
  );

  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 100s Gradient linear infinite, 3s Grow ease alternate infinite,
    0.8s Shake infinite alternate;
}

.shake {
  animation: 1s Shake infinite alternate;
}

@keyframes Shake {
  0% {
    transform: skewX(-15deg);
  }
  5% {
    transform: skewX(15deg);
  }
  10% {
    transform: skewX(-15deg);
  }
  15% {
    transform: skewX(15deg);
  }
  20% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

@keyframes Gradient {
  100% {
    background-position: 100vw 0px;
  }
}

@keyframes Grow {
  100% {
    transform: scale(1.1);
  }
}
