.App {
  text-align: center;
  background-color: black;
}

#navbar {
  background-color: #f1f1f1 !important;
}

form {
  background-color: #ffffff;
  box-shadow: 5px 5px 5px rgba(0.3, 0.3, 0.3, 0.3);
}

#form-container {
  place-items: center;
  margin-top: 160px;
}

#login-form {
  max-width: 400px;
}

#login {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 160px;
}

.errors {
  color: red;
}
