.App {
  text-align: center;
}

#root {
  background-color: #121319;
  color: #c5c6c7;
}

html {
  background-color: #121319;
}

main {
  min-height: 55rem;
}

video {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 30rem;
}

/* NAVBAR */
#logo {
  width: 10rem;
}

#navbar {
  background-color: #1f2833 !important;
}

#navbar p {
  margin-top: 1rem;
  color: #c5c6c7;
}

#navbar a {
  color: #c5c6c7;
}

#navbar-text {
  margin-right: 5%;
  color: #c5c6c7;
}

/* LOGIN & SIGNUP FORM */
form {
  background-color: #ffffff;
  box-shadow: 5px 5px 5px rgba(0.3, 0.3, 0.3, 0.3);
}

#form-container {
  place-items: center;
  margin-top: 160px;
  background-color: #121319;
}

#login-form {
  color: #c5c6c7;
  background-color: #1f2833;
  max-width: 400px;
}

#login {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 160px;
}

/* ERRORS */
.errors {
  color: red;
}

/* MAIN PAGE */
.home-leaderboard {
  background-color: #1f2833;
  color: #757575;
  text-align: center;
  border-radius: 1rem;
  height: 100%;
  height: 37rem;
  width: 50%;
  margin: auto;
  padding-top: 2em;
  margin-top: 3em;
}

#game-cards-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.game-card {
  background-color: #121319 !important;
  text-align: center;
  padding-top: 2.5rem;
  width: 15rem;
  /* height: 150px; */
  border-radius: 5rem;
  margin: auto;
  text-decoration: none;
}

/* .game-card-image {
  margin: auto;
  width: 50%;
} */

/* PROFILE PAGE */
.profile-page {
  background-color: #1f2833;
  color: #757575;
  text-align: center;
  border-radius: 0.1rem;
  height: 100%;
  min-height: 50rem;
  width: 70%;
  margin: auto;
  padding-top: 2em;
  margin-top: 3em;
}

/* GAME PAGE */
.leaderboard {
  background-color: #1f2833;
  color: #757575;
  text-align: center;
  border-radius: 3rem;
  height: 100%;
  height: 35rem;
  width: 50%;
  margin: auto;
  padding-top: 2em;
  margin-top: 3em;
}

.scoreboard {
  width: 95%;
  margin: auto;
}

.user-score {
  background-color: #84ceeb;
}

.paginate {
  border-radius: 3rem;
  margin: 0 auto;
}

/* FOOTER */
.footer {
  background-color: #1f2833;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 3rem;
  padding: 50px;
}

.footer .footer-left,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* FOOTER LEFT */
.footer .footer-left {
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #84ceeb;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #84ceeb;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* FOOTER RIGHT */
.footer .footer-right {
  float: right;
  padding-right: 75px;
}

.footer .footer-right i {
  background-color: #84ceeb;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-right p {
  display: inline-block;
  color: #84ceeb;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-right p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .copyright {
  font-weight: normal;
  font-size: 14px;
}
