.grid {
  margin: auto;
  white-space: nowrap;
}

.main {
  display: flex;
  margin: 5%;
}

.score {
  margin: auto;
  margin-left: -5%;
}

.pathfinder-main {
  margin: auto;
  margin-top: 5rem;
  text-align: center;
}

.pathfinder-main button {
  margin: auto;
  width: 25%;
  margin-top: 2rem;
  display: block;
}