.number-memory-main {
  text-align: center;
  margin-top: 2rem;
  height: 20rem;
}

.number-memory-main img {
  width: 15rem;
  margin-top: -2rem;
}

.number-memory-main form {
  background-color: #121319;
  box-shadow: none;
}

.number-memory-main input {
  height: 2.3rem;
  margin-top: 1rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.number-memory-main button {
  margin: auto;
  display: block;
  margin-top: 1rem;
}

#game-over-buttons {
  display: flex;
  width: 13rem;
  margin: 0 auto;
}

#correct {
  color: rgba(0, 255, 0);
  font-size: 27px;
}

#incorrect {
  color: rgba(255, 0, 255);
  font-size: 27px;
}
