.number-memory-main {
  text-align: center;
  margin-top: 5rem;
}

.number-memory-main form {
  background-color: #0b0c10;
  box-shadow: none;
}

.number-memory-main input {
  height: 2.3rem;
  margin-top: 1rem;
}

.number-memory-main button {
  margin: auto;
  display: block;
  margin-top: 1rem;
}